# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env/
*.env

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database dumps
*.sql
*.sqlite3

# PyCharm project settings (optional if you want to share configs)
*.iml
